<html>
<head>
    <title>Tamagotchi</title>
</head>
<body>
    <h1>New monster "{{ newmonster.getName }}" successfully adopted!</h1>
    <h2>Congratulations!!!</h2>
    <br><br>

    <form action='/'>
        <button type='submit'>Return home</button>
    </form>

</body>
</html>
